﻿<app-navbar></app-navbar>
<ul class="breadcrumb">
  <li><a  routerLink="">Home</a></li>
  <li>Home</li>
</ul>
<div class="container">
<h5>Hello!  <b>{{currentUser.firstName}}{{currentUser.lastName}}</b></h5>
</div>