<br>
<br>
<br>

<div class="container">

<div class="d-flex flex-row bd-highlight mb-3">

<div class="form-froup row" style="width: 60%;">

    <label class="col-sm-4 col-form-label">Employee Name</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" [(ngModel)]="EmployeeName"
        placeholder="Enter Employee Name">
    </div><br><br>

    <label class="col-sm-4 col-form-label">Department</label>
    <div class="col-sm-8">
       <select class="form-control" [(ngModel)]="Department">
           <option>--Select--</option>
           <option *ngFor="let depName of DepartmentsList">
               {{depName.DepartmentName}}
           </option>
       </select>
    </div>
    <br>
    <br><label class="col-sm-4 col-form-label">Date of joining</label>
    <div class="col-sm-8">
        <input type="date"  [(ngModel)]="DateOfJoining">
    </div>

    <label class="col-sm-4 col-form-label">Photo</label>   
<div class="col-sm-8">
<!--<img [src]=PhotoFilePath height="250px;" width="200px;" >-->
<input type="file" (change)="uploadPhoto($event)" class="mt-2"/>
</div>
</div>
</div>

<button (click)="addEmployee()" *ngIf="emp.EmployeeId==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateEmployee()" *ngIf="emp.EmployeeId!=0" class="btn btn-primary">
    Update
    
</button>

</div>
