<div class="d-flex flex-row bd-highlight mb-3">

<div class="form-froup row" style="width: 60%;">

    <label class="col-sm-2 col-form-label">Project Name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="project_name"
        placeholder="Enter Project Name">
    </div>

    <label class="col-sm-2 col-form-label">Project Url</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="project_url"
        placeholder="Enter Project Url">
    </div>

    

</div>
</div>


<button (click)="addProject()" *ngIf="pro.projectId==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateProject()" *ngIf="pro.projectId!=0" class="btn btn-primary">
    Update
</button>