<br>
<br>
<br>

<div class="container">

<div class="d-flex flex-row bd-highlight mb-2">
<div class="form-group" style="width: 60%;">  
    <div class="form-group">
    <label>Task Project</label>
        <input type="text" class="form-control" [(ngModel)]="task_project"
        placeholder="Enter Task Project">
  </div>
  <div class="form-group">
    <label>Task Description</label>
        <textarea class="form-control" rows="3" [(ngModel)]="task_desc"
        placeholder="Enter Task Description"></textarea>
      </div>
      <div class="form-group">
    <label>Task work Hrs(in hrs)</label>
        <input type="number" class="form-control" [(ngModel)]="task_work_hrs"
        placeholder="Enter Task work Hrs">
    </div>
    <div class="form-group">
    <label>Task Employee</label>
       <select class="form-control" [(ngModel)]="task_emp">
           <option>--Select--</option>
           <option *ngFor="let empName of EmployeeList" >
               {{empName.EmployeeName}}
           </option>
       </select>
    </div>
</div>

</div>
<button (click)="addTask()" *ngIf="task.taskId==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateTask()" *ngIf="task.taskId!=0" class="btn btn-primary">
    Update
</button>
<br>
<br>

</div>