<br>
<br>
<br>
<div class="container">
    
       <div class="row">
                <div class="col-sm-12">
                    
                  <div class="row">
                    <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black"><b>EmployeeId&nbsp;:</b></p>
                   <p class="col-sm-8">{{emp.EmployeeId}}</p>
               </div>
               <div class="row">
                    <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black" style="color: black"><b>Employee Name&nbsp;:</b></p>
                   <p class="col-sm-8">{{emp.EmployeeName | titlecase}}</p>
               </div>
               <div class="row">
                    <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black" style="color: black"><b>Department&nbsp;:</b></p>
                   <p class="col-sm-8">{{emp.Department}}</p>
               </div>
               <div class="row">
                    <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black" style="color: black"><b>DateOfJoining&nbsp;:</b></p>
                   <p class="col-sm-8">{{emp.DateOfJoining}}</p>
               </div>
  </div>