<nav class="navbar navbar-default navbar-expand" style="background-color: #d8edff;">
  <div class="container-fluid">
    <div class="navbar-header">
      <h5 style="font-style:normal"><b>Employee Management System</b></h5>
    </div>
    
    <ul class="nav navbar-nav navbar-left">
      <li class="nav-item">
        <button [routerLink]="['/']" id="btn1"
        class="btn" Button><b>Home</b></button>
        
    </li>
      <li class="nav-item">
            <button [routerLink]="['/department']" 
            class="btn" Button><b>Departments</b></button>
        </li>

        <li class="nav-item">
            <button [routerLink]="['/employee']" 
            class="btn" Button><b>Employees</b></button>
        </li>

        <li class="nav-item">
            <button [routerLink]="['/project']" 
            class="btn" Button><b>Projects</b></button>
        </li>
        <li class="nav-item">
            <button [routerLink]="['/task']"  class="btn active"
            class="btn active" Button><b>Tasks</b></button>
        </li>
        
    
     

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li  class="nav-item">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5.52 19c.64-2.2 1.84-3 3.22-3h6.52c1.38 0 2.58.8 3.22 3"/><circle cx="12" cy="10" r="3"/><circle cx="12" cy="12" r="10"/></svg><a>Hello!
        {{currentUser.username}}</a>
    </li>&nbsp;&nbsp;&nbsp;
    
       <li class="nav-item">
        
        <i class="fa fa-sign-out" style="font-size:20px;color: #000;"></i><a [routerLink]="['/login']" style="color: #000;text-decoration: none;">Logout</a>
        
    </li>
    </ul>
  </div>
</nav>
<br>
<br>





