<br>
<br>
<br>
<div class="container">
    
       <div class="row">
                <div class="col-sm-12">
                    
                     <div class="row">
                         <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black" style="color: black"><b>TaskId&nbsp;:</b></p>
                        <p class="col-sm-8">{{task.taskId}}</p>
                    </div>
                    <div class="row">
                         <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black" style="color: black"><b>Task_project&nbsp;:</b></p>
                        <p class="col-sm-8">{{task.task_project}}</p>
                    </div>
                    <div class="row">
                         <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black" style="color: black"><b>Task_employee&nbsp;:</b></p>
                        <p class="col-sm-8">{{task.task_emp | titlecase}}</p>
                    </div>
                    <div class="row">
                         <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black" style="color: black"><b>Task_description&nbsp;:</b></p>
                        <p class="col-sm-8">{{task.task_desc}}</p>
                    </div>
                    <div class="row">
                         <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black" style="color: black"><b>Task_work_hours&nbsp;:</b></p>
                        <p class="col-sm-8">{{task.task_work_hrs}}</p>
                    </div>
  </div>